* a {
  text-decoration: none;
  color: inherit;
}
body:not(header, footer) {
  font-family: 'Poiret One', cursive;
}
h1 {
  background-color: grey;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 3rem;
  font-size: 48px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Comfortaa', cursive;
  background-color: lightgrey;
  border: 3px solid #e6f2ff;
  margin: 0;
  padding: 0;
}
.home {
  order: 1;
  margin-left: auto;
}
.navbar li {
  list-style-type: none;
  padding: 14px 16px;
  color: #008ae6;
  transition: background-color .75s;
}
.navbar li:hover {
  background-color: #cce6ff;
}
.active {
  background-color: #99ccff;
}
.center {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-flow: column wrap;
}
#content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0;
}
#content img:hover {
  width: 500px;
  height: 500px;
}
img {
  transition: width 3s, height 3s;
}
.portfolio {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
}
.portfolio a:hover {
  text-decoration: underline;
}
.about li:hover {
  font-size: 125%;
}
li {
  transition: font-size 2s;
}
.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.box {
  padding: 10px;
  border: 3px solid #e6f2ff;
  margin-bottom: 10px;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
figure img {
  align-self: center;
  border: 3px solid #e6f2ff;
}
aside ul {
  padding: 0;
  list-style: inside;
}
footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  border: 3px solid #e6f2ff;
}
/*form styling*/
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}
fieldset {
  border: none;
}
fieldset input {
  display: inline;
}
.button {
  margin-left: 0;
  padding-left: 0;
}
input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 6px;
  background-color: #99ccff;
  border: 3px solid #e6f2ff;
  border-radius: 15px
}
input[type=submit]:hover, .button label:hover, .button input:hover {
  cursor: pointer;
}

/* I will try custom buttons later, I do not currently understand it enough

.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.button label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.button:hover input ~ .checkmark {
  background-color: #cce6ff;
}
.button input:checked ~ .checkmark {
  background-color: #99ccff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.button input:checked ~ .checkmark:after {
  display: block;
}
.button .checkmark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
*/
