h1 {
  color: #0066ff;
  border-style: solid;
  border-width: 5px;
  border-color: #80e5ff;
  padding: 5px;
}
img {
  border-style: dashed;
  border-width: 5px;
  border-color: #80e5ff;
  padding: 2px;
}
body {
  background-color: #e6e6ff;
}
h2 {
  color: #00cc00;
  border-style: double;
  border-color: #80e5ff;
  border-width: 3px;
  padding: 3px;
}
.important:hover {
  background-color: #ff99ff;
  padding: .25rem;
}
figcaption {
  font-style: italic;
  color: #bf80ff;
}
.centered {
  text-align: center;
}
ul {
text-align: left;
width: 40%;
position: relative;
left: 35%;
}
.box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
  length: 1000px;
  border-style: double;
  border-color: #80e5ff;
  border-width: 5px;
}
.border {
  border-style: groove;
  border-color: inherit;
}
